<%- partial ('../partials/header') %>
<style>
	body{
		margin-top: 30px;
	}
	.nv-line{
		fill:none;
	}
  body {
    width: 960px;
    height: 600px;
    margin: auto;
    position: relative;
  }

  svg {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .page-header{
    margin-top: 100px;
  }

  .city--hover {
    stroke: #000;
  }

  path {
  stroke-width: 1;
  fill: none;
  }
  
  .data {
    fill: none;
    stroke: #aaa;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1.5px;
  }

  .data1 {
    stroke: black;
  }

  .data2 {
    stroke: grey;
  }

  .axis {
    shape-rendering: crispEdges;
  }

  .xAxis line {
    stroke: lightgrey;
  }

  .xAxis .minor {
    stroke-opacity: .5;
  }

  .xAxis path {
    /*display: none;*/
  }

  .xAxis text {
    font-size: 10px;
  }

  .yAxis line, .yAxis path {
    fill: none;
    stroke: #000;
  }

  .yAxis text {
    font-size: 12px;
  }

  .focus text {
    text-anchor: middle;
    text-shadow: 0 1px - #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  }

  .voronoi path {
    fill: none;
    pointer-events: all;
    stroke: #000;
    stroke-width:0.2;
  }

  .voronoi--show path {
    stroke: red;
    stroke-opacity: .2;
  }

  #form {
    position: absolute;
    top: 20px;
    right: 30px;
  }
    
</style>
<div class="container">

    <!-- Introduction Row -->
    <div class="row" ng-controller="urbanAppController">
        <div class="col-lg-12">
            <h1 class="page-header">Total Number of Employees in NY Urban Areas from 1992 to 2010
            </h1>
            <div id="urbanEmploymentGraph">
            	<svg style='height:500px' class="chart"> </svg>
            </div>
        </div>
    </div>

    <!-- Team Members Row -->
    

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © Your Website 2014</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/js/dependencies/nvd3.min.js"></script>
<script src="/js/dependencies/topojson.js"></script>
<script src="/data-sources/urbanAreas.js"></script>
<script src="/js/urbanAppController.js"></script>