<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/nvd3.css">
<style>
.zip {
  
  stroke: #000;
}

.zip:hover {
  fill: #f00;
  opacity: 0.5;
}
.inputs {
	position: absolute;
	top: 40px;
	right: 20px;
	left: 30px;
	width: 420px;
	height: 240px;
	padding: 20px;
	border-style: groove;
	border-color: #909090;
	background-color: #E8E8E8;
	border-radius: 13%;
}

#legend{
  position: absolute;
  top: 70%;
  left: 60%;
  width: 600px;
  height: 160px;
  padding: 10px;
  border-style: groove;
  border-color: #909090;
  background-color: #E8E8E8;
  border-radius: 13%;
  font-size: 21px;
  /*padding: 1.5em 0 0 1.5em;*/
}

#naicsBasic {
	display:none;
}

#naicsComplex {
	display:none;
}

li.key {
	border-top-width: 15px; 
	border-top-style: solid;
	font-size: .75em;
	width: 10%;
	padding-left: 0;
	padding-right: 0;
}
</style>
<!-- Header-->
  
<div ng-controller="ZipCtrl" style="width:100%;height:100%">
<!-- Main Page content -->
  <div id="map"></div>

<!-- for floating info -->
  <div id="info"></div>

  <div class="inputs">
	  <input id="slider1" type="range" min="1994" max="2012" step="1" ng-model="year" />
	  {{year}}
	  <button ng-click="play()">Play</button>
	  <form action="">
		  <input ng-click="mode(&quot;ap&quot;)" id="ap" type="radio" name="mode" value="ap" checked="checked">Annual Payroll
		  <input ng-click="mode(&quot;emp&quot;)" id="emp" type="radio" name="mode" value="emp">Employees<br>
		  <input ng-click="mode(&quot;ap/emp&quot;)" id="ap/emp" type="radio" name="mode" value="ap_emp">Annual Payroll Per Capita	
	  </form>
	  <div id="naics">
	  	<div id="naicsBasic">
            <div class="controls form-group">
                <select class="form-control" style="width:100%"; class="chzn-select select-block-level" id="default-select" ng-model="current_naics2">
                    <option ng-repeat="(key,val) in twoNaicsKey" value="{{key}}">{{key+'-'+val}}</option>
                </select>
                <!-- <span class="help-block">
                    <code>Select NAICS Code</code>
                </span> -->
            </div>
        </div>
	  	<div id="naicsComplex">
	  		<div class="controls form-group">
	  			<select class="form-control" style="width:100%"; class="chzn-select select-block-level" id="default-select" ng-model="current_naics_full">
					<option ng-repeat="naics in fullNaicsKey" value="{{$index}}">{{naics.f[0].v}}</option>
				</select>	  			
	  		</div>
	  	</div>
	  </div>
  </div>  
  <div id="legend"></div>
<!-- Modals -->

    
</div>



<script src="/leaflet-0.7.2/leaflet.js"></script>
<script src="/js/dependencies/d3.v3.min.js"></script>
<script src="/js/dependencies/topojson.js"></script>
<script src="/js/dependencies/d3leaflet-layers.js"></script>
<script src="http://d3js.org/colorbrewer.v1.min.js"></script>
<script src="/controllers/businesspatterns/zipmapctrl.js"></script>

