<link rel="stylesheet" href="/css/main.css">
<style>
.zip {
  
  stroke: #000;
}

.zip:hover {
  fill: #f00;
  opacity: 0.5;
}
</style>
<!-- Header-->
  
<div ng-controller="ZipCtrl" style="width:100%;height:100%">
<!-- Main Page content -->
  <div id="map"></div>

<!-- for floating info -->
  <div id="info"></div>
  
<!-- Modals -->

    
</div>

<script src="/leaflet-0.7.2/leaflet.js"></script>
<script src="/js/dependencies/d3.v3.min.js"></script>
<script src="/js/dependencies/topojson.js"></script>
<script src="/js/dependencies/d3leaflet-layers.js"></script>

<script src="/controllers/businesspatterns/zipmapctrl.js"></script>
